html, body, #root{
    width: 100%;
    height: 100%;
}

#root{
    .tab-content{
        flex: 1;
        overflow-y: auto;
        .tab-pane{
            height: 100%;
        }
    }
}

.search-clear {
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    margin: auto;
    cursor: pointer;
}
.search-clear::before {
    margin-top: 8px;
    margin-left: 8px;
}

.bg-timetable{
    background-color: #ff5722;
    button:active{
        opacity: 80%;
    }
}
.bg-task{
    background-color: #673ab7;
}
.bg-shift{
    background-color: #ff9800;
}
.bg-event{
    background-color: #2196f3;
}

.text-vertical{
    writing-mode: vertical-rl;
}

.text-red{
    color: #CD5C5C;
}
.text-blue{
    color: #0072C6;
}

.border-box{
    box-sizing: border-box;
}

.resize-none{
    resize: none;
}